
/*
  ========================================
  Temp
  ========================================
*/

.temp-placeholder {
	height: 600px;
}


/*
  ========================================
  Main Grid
  ========================================
*/

*, *:before, *:after {
	box-sizing: border-box;
}

.group:after {
	display: table;
	content: "";

	clear: both;
}

.logo {
	float: left;

	border-top: 4px solid #648880;
	padding: 40px 0 22px 0;
}

.container {
	/*width: width-200px;*/
	
	padding-left: 30px;
	padding-right: 10%;
	/*margin: 0 auto;*/
	margin-left: 17%;

	background-color: #f1a3ff;
	background-color: black;
}
.col-1-3, .col-2-3 {
	display: inline-block;
	vertical-align: top;
}

.col-1-3 {
	width: 33.33%;
}

.col-2-3 {
	width: 66.66%;
}


.col-1-3, .col-2-3 {
	padding-left: 15px;
	padding-right: 15px;
}



.primary-footer > small {
	float: left;
}



/*
  ========================================
  Buttons
  ========================================
*/

.btn {
	display: inline-block;

	border-radius: 5px;
}

.btn-alt {
	border: 1px solid black;
	padding: 10px 30px;
}


/*
  ========================================
  Home Page
  ========================================
*/

.hero {
	padding: 22px 330px 66px 80px;
}