/*
  ========================================
  Grid
  ========================================
*/


*, *:before, *:after {
	box-sizing: border-box;
}

.container {
	/*width: width-200px;*/
	
	padding-left: 30px;
	padding-right: 330px;
	/*margin: 0 auto;*/
	margin-left: 300px;

	background-color: #f1a3ff;
}


/*
  ========================================
  Typography
  ========================================
*/

h1, h2, h3, h4, h5, h6, p {
	margin-bottom: 22px;
}


/*
  ========================================
  Buttons
  ========================================
*/

.btn {
	display: inline-block;

	border-radius: 5px;
}

.btn-alt {
	border: 1px solid black;
	padding: 10px 30px;
}


/*
  ========================================
  Home
  ========================================
*/

.hero {
	padding: 22px 330px 66px 80px;
}